<ktd-grid [cols]="cols" [rowHeight]="rowHeight" [layout]="layout" (layoutUpdated)="onLayoutChange($event)">

  <ktd-grid-item *ngFor="let item of items; trackBy:trackById" [id]="item.id">
    <div class="item-content">
      <div class="item-content-header">
        <h1>Item {{ item.id }}</h1>
      </div>
      <div class="item-content-body">
        <p *ngIf="item.type === 'text'">{{ item.content }}</p>
        <div *ngIf="item.type === 'image'">
          <img [src]="item.content" alt="Image {{ item.id }}">
        </div>
        <div *ngIf="item.type === 'table'">
          <table>
            <thead *ngif="item.table!.headers">
              <tr>
                <td *ngFor="let header of item.table!.headers">{{ header }}</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of item.table!.rows">
                <td *ngFor="let cell of row">{{ cell }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </ktd-grid-item>

</ktd-grid>
