<ktd-grid [cols]="cols" [rowHeight]="rowHeight" [layout]="layout" (layoutUpdated)="onLayoutChange($event)">

  <ktd-grid-item *ngFor="let item of items; trackBy:trackById" [id]="item.id">
    <div class="item-content">
      <div class="item-content-header">
        <h1>Item {{ item.id }}</h1>
      </div>
      <div class="item-content-body">
        <p *ngIf="item.type === 'text'">{{ item.content }}</p>
        <div *ngIf="item.type === 'image'">
          <img [src]="item.content" alt="Image {{ item.id }}">
        </div>
      </div>
    </div>
  </ktd-grid-item>

</ktd-grid>
